{
  "action" : "order",
  "resource" : {
    "href" : "{{ cfme_url }}/api/service_templates/{{ service_template_id }}",
    "Lab Information/Lab Information/Check box": true,
    "check": "t",
    "notes": "{{ aws_sandbox_usage }}"
                    
  }
}